body {
  text-align: center;
  background-color: #a7b99c;
  color: #484b52;
  font-family: "Inconsolata", monospace;
}

#hidden {
  text-align: left;
  opacity: 0;
}

button {
  color: #484b52;
  background-color: #a7b99c;
  font-family: "Inconsolata", monospace;
  border-color: #484b52;
}

input {
  color: #484b52;
  background-color: #a7b99c;
  border-color: #484b52;
  font-family: "Inconsolata", monospace;
}


dialog {
  color: #484b52;
  background-color: #a7b99c;
  font-family: "Inconsolata", monospace;
  padding: 15px;

  border-width: 2px;
  border-color: #484b52;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
  transition: background-color 0.5s, box-shadow 0.5s;

  position: fixed;
  top: -20;
  z-index: 100;
}



