body {
  text-align: center;
  background-color: #a7b99c;
  color: #484b52;
  font-family: "Inconsolata", monospace;
}

#hidden {
  text-align: left;
  opacity: 0;
}

button {
  color: #484b52;
  background-color: #a7b99c;
  font-family: "Inconsolata", monospace;
}

input {
  color: #484b52;
  background-color: #a7b99c;
  font-family: "Inconsolata", monospace;
}
